#grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}
#grid #article {
  padding: 20px;
}
.active {
  color:blue;
}
 h1 {
   font-size:45px;
   text-align: center;
   border-bottom: 1px solid gray;
   margin: 0px;
   padding: 30px;
   display: block;
 }
 #grid ol {
   border-right: 1px solid gray;
   width: 150px;
   margin: 0px; padding: 35px;
 }


      @media(max-width:1000px){
        #grid {
          display: block;
        }
        h1 {
          font-size:40px;
          text-align: center;
          border-bottom:: 1px solid gray;
          display: block;
        }
        #grid ol {
          border-right: none;
        }
      }
